<div class="pull-left" role="links">
  <ul class="list-inline">
    <li> <%= link_to "Back to Task", task_url(@task), class: "btn btn-info btn-sm" %> </li>
  </ul>
</div>
<br><br>
<h5>Edit Task ID <%= @task.id %>, status: <strong class="text-uppercase"><%= @task.status %></strong></h5>
<% if current_user.has_role? :admin %>
  <%= render partial: 'form' %>
<% elsif current_user.has_role? :courier %>
  <%= render partial: 'form1' %>
<% end %>
