
<h5>NEW TASKS</h5>
<div class="table-responsive">
  <table class="table table-striped table-condensed">
    <% @tasks.new_task.each do |task|  %>
      <tr>
        <td>From: </td>
        <td><%= link_to task.sender, task_url(task) %></td>
        <td><%= link_to task.from_address, task_url(task) %></td>
      </tr>
      <tr></tr> <!-- keep these empty tr tags here for stripe effects -->
      <tr>
        <td>To: </td>
        <td><%= link_to task.receiver, task_url(task) %></td>
        <td><%= link_to task.to_address, task_url(task) %></td>
      </tr>

    <% end %>
  </table>
</div>

<h5>INCOMPLETE TASKS</h5>
<div class="table-responsive">
  <table class="table table-striped table-condensed">
    <% @tasks.incomplete.each do |task|  %>
      <tr>
        <td>From: </td>
        <td><%= link_to task.sender, task_url(task) %></td>
        <td><%= link_to task.from_address, task_url(task) %></td>
      </tr>
      <tr></tr> <!-- keep these empty tr tags here for stripe effects -->
      <tr>
        <td>To: </td>
        <td><%= link_to task.receiver, task_url(task) %></td>
        <td><%= link_to task.to_address, task_url(task) %></td>
      </tr>

    <% end %>
  </table>
</div>

<h5>COMPLETED TASKS</h5>
<div class="table-responsive">
  <table class="table table-striped table-condensed">
    <% @tasks.completed.each do |task|  %>
      <tr>
        <td>From: </td>
        <td><%= link_to task.sender, task_url(task) %></td>
        <td><%= link_to task.from_address, task_url(task) %></td>
      </tr>
      <tr></tr> <!-- keep these empty tr tags here for stripe effects -->
      <tr>
        <td>To: </td>
        <td><%= link_to task.receiver, task_url(task) %></td>
        <td><%= link_to task.to_address, task_url(task) %></td>
      </tr>

    <% end %>
  </table>
</div>

<% if (current_user.has_role? :admin) %>
  <h5>ARCHIVED TASKS</h5>
  <div class="table-responsive">
    <table class="table table-striped table-condensed">
      <% @tasks.archived.each do |task|  %>
        <tr>
          <td>From: </td>
          <td><%= link_to task.sender, task_url(task) %></td>
          <td><%= link_to task.from_address, task_url(task) %></td>
        </tr>
        <tr></tr> <!-- keep these empty tr tags here for stripe effects -->
        <tr>
          <td>To: </td>
          <td><%= link_to task.receiver, task_url(task) %></td>
          <td><%= link_to task.to_address, task_url(task) %></td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>
