<br><br>
<div class="panel panel-danger yellow">
  <div class="panel-body">
    <div class="row">
      <small>
      <div class="col-sm-4">
        <strong>My Last Recorded Location:</strong><br>
        <%= current_user.curr_addr %>
      </div>
      <div class="col-sm-4">
        <strong>Latitude:</strong><br>
        <%= current_user.curr_lat %>
      </div>
      <div class="col-sm-4">
        <strong>Longitude:</strong><br>
        <%= current_user.curr_long %>
      </div>
      </small>
    </div>
  </div>
</div>

<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a href="#overdue" aria-controls="overdue" role="tab" data-toggle="tab">Overdue</a></li>
  <li role="presentation"><a href="#current-active" aria-controls="current-active" role="tab" data-toggle="tab">Currently Active Task</a></li>
  <li role="presentation"><a href="#new-unassigned" aria-controls="new-unassigned" role="tab" data-toggle="tab">New Unassigned Tasks</a></li>
  <li role="presentation"><a href="#update-location" aria-controls="update-location" role="tab" data-toggle="tab">Update My Current Location</a></li>
</ul>

<div class="tab-content">
  <div role="tabpanel" class="tab-pane fade in active" id="overdue">
    <% if @tasks.incomplete.overdue.present? %>
      <% @tasks.incomplete.overdue.each do |task| %>
        <div class="panel panel-danger">
          <div class="panel-heading">
            <h5 class="panel-title">OVERDUE TASK ID: <%= task.id %></h5>
          </div>
          <div class="panel-body">
            <a href="<%= task_path(task) %>" >
              <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-4">
                  From:<br>
                    <%= task.sender %><br>
                    <%= task.from_address %>
                </div>
                <div class="col-sm-4">
                  To:<br>
                  <%= task.receiver %><br>
                  <%= task.to_address %>
                </div>
              </div> <!-- end row -->
            </a>
          </div> <!-- end panel-body -->
        </div> <!-- end class panel panel-danger -->
      <% end %>
    <% end %>
  </div>

    <div role="tabpanel" class="tab-pane fade" id="current-active">
      <% if @tasks.incomplete.todays.present? %>
        <% @tasks.incomplete.todays.each do |task| %>
          <div class="panel panel-warning">
            <div class="panel-heading">
              <h5 class="panel-title">CURRENT ACTIVE TASK ID: <%= task.id %></h5>
            </div>
            <div class="panel-body">
              <a href="<%= task_path(task) %>" >
                <div class="row">
                  <div class="col-sm-2"></div>
                  <div class="col-sm-4">
                    From:<br>
                      <%= task.sender %><br>
                      <%= task.from_address %>
                  </div>
                  <div class="col-sm-4">
                    To:<br>
                    <%= task.receiver %><br>
                    <%= task.to_address %>
                  </div>
                </div> <!-- end row -->
              </a>
            </div> <!-- end panel-body -->
          </div> <!-- end class panel panel-danger -->
        <% end %>
      <% end %>
    </div>

    <div role="tabpanel" class="tab-pane fade" id="new-unassigned">
      <% if Task.all.new_task.present? %>
        <% Task.all.new_task.sorted(current_user.curr_lat, current_user.curr_long).each do |task| %>
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h5 class="panel-title">NEW UNASSIGNED TASK ID: <%= task.id %></h5>
            </div>
            <div class="panel-body">
              <a href="<%= task_path(task) %>" >
                <div class="row">
                  <div class="col-sm-2"></div>
                  <div class="col-sm-4">
                    From:<br>
                      <%= task.sender %><br>
                      <%= task.from_address %>
                  </div>
                  <div class="col-sm-4">
                    To:<br>
                    <%= task.receiver %><br>
                    <%= task.to_address %>
                  </div>
                </div> <!-- end row -->
              </a>
            </div> <!-- end panel-body -->
          </div> <!-- end class panel panel-danger -->
        <% end %>
      <% end %>
    </div>

    <div role="tabpanel" class="tab-pane fade" id="update-location">
      <br>
      <%= simple_form_for(current_user, url: update_location_user_path(current_user)) do |f| %>
        <%= f.input :curr_addr, label: "Update My Current Location:", class: 'form-control' %>
        <br>
        <%= f.submit %>
      <% end %>
      <br><br>
      <iframe
        width="600"
        height="450"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAD-fxTCN1rDW_OFktys6YPVnet1UbZnTs&q=<%=current_user.curr_addr.gsub(' ', '+')%>" allowfullscreen>
      </iframe>
    </div>




</div> <!-- end class tab-content -->
