<div class="pull-left" role="links">
  <ul class="list-inline">
    <li><%= link_to "Tasks Index", root_url, class: "btn btn-primary btn-sm" %></li>

    <% if (@task.status == "new_task") %>
      <li><%= link_to "Accept This Task", accept_task_task_url(@task), method: :post, data: { confirm: 'Are you sure you want to accept this task?' }, class: "btn btn-warning btn-sm" %></li>
    <% end %>

    <li><%= link_to "Add Message", new_task_message_url(@task), data: { confirm: 'Add a message to this task?' }, class: "btn btn-primary btn-sm" %></li>

    <li><%= link_to "Edit", edit_task_url(@task),  data: { confirm: 'Edit this task?' }, class: "btn btn-primary btn-sm" %></li>

    <% if (@task.status == "incomplete") %>
      <li><%= link_to "Done!", complete_task_url(@task), method: :post, data: { confirm: 'Are you sure it is completed?' }, class: "btn btn-success btn-sm" %></li>
    <% end %>

    <% if current_user.has_role? :admin %>
      <li><%= link_to "Create Task", new_task_url, data: { confirm: 'Create a New Task?' }, class: "btn btn-primary btn-sm" %></li>
    <% end %>

    <% if current_user.has_role? :admin %>
      <% if (@task.status == "completed") %>
        <li><%= link_to "Archive", archive_task_url(@task), method: :post, data: { confirm: 'Archive this Task?' }, class: "btn btn-warning btn-sm" %></li>
      <% end %>
    <% end %>


  </ul>
</div>
<br><br>
<h5>Task ID <%= @task.id %>, status: <strong class="text-uppercase"><%= @task.status %></strong></h5>

<div class="table-responsive">
  <table class="table table-striped table-condensed">
    <tr>
      <td>Sender: </td>
      <td><%= @task.sender %></td>
    </tr>
    <tr>
      <td>From Address: </td>
      <td><%= @task.from_address %></td>
    </tr>
    <tr>
      <td>Receiver: </td>
      <td><%= @task.receiver %></td>
    </tr>
    <tr>
      <td>To Address: </td>
      <td><%= @task.to_address %></td>
    </tr>
    <tr>
      <td>Customer: </td>
      <td><%= [@task.customer.first_name, @task.customer.last_name].compact.join(' ') %></td>
    </tr>
    <tr>
      <td>Customer Company: </td>
      <td><%= @task.customer.company %></td>
    </tr>
    <tr>
      <td>Info From Customer: </td>
      <td><%= @task.info %></td>
    </tr>
    <tr>
      <td>Courier: </td>
      <td>
        <% if(@task.user).present? %>
          <%= [@task.user.first_name, @task.user.last_name].compact.join(' ') %>
        <% else %>
          Unassigned
        <% end %>
      </td>
    </tr>
    <tr>
      <td>Task Accepted At: </td>
      <td>
        <% if (@task.accepted_time).present? %>
        <%= @task.accepted_time.localtime.strftime("%A, %d %b %Y %l:%M %p %Z") %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td>Task Accomplished At: </td>
      <td>
        <% if (@task.accomplished_time).present? %>
        <%= @task.accomplished_time.localtime.strftime("%A, %d %b %Y %l:%M %p %Z") %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td>Signature Required? </td>
      <td><%= @task.sign_required? %></td>
    </tr>
    <tr>
      <td>Signed? </td>
      <td><%= @task.signed? %> <%= @task.label %></td>
    </tr>
    <tr>
      <td>Item Count </td>
      <td><%= @task.item_count %></td>
    </tr>
    <tr>
      <td>Created At: </td>
      <td><%= @task.created_at %></td>
    </tr>
    <tr>
      <td>Updated At: </td>
      <td><%= @task.updated_at %></td>
    </tr>
  </table>
</div>

<h5>Messages of This Task</h5>
<div class="table-responsive">
  <table class="table table-striped table-condensed">
    <% @task.messages.each do |m| %>
    <tr>
      <td><%= m.created_at.localtime.strftime("%A, %d %b %Y %l:%M %p %Z") %></td>
      <td>(<%= m.user.name %>) <%= m.description %></td>
    </tr>
    <% end %>
  </table>
</div>
